# heading1
## heading2
### heading3 
#### heading4

 <h1 style="color:pink;background-color:green">manju</h1>
 <h2 style="color:white;background-color:black">harika</h2>

*italic*<br>
**bold**<br> 
***italic&bold***

* list 
 * sublist
   * inner sublist 
     * data 
     



>1.order list1<br>
>>2.order list2<br>
>>>3.order list3<br>

<a href="https://www.google.com/">google</a>

<img src="lion.jfif" alt="lion image">

<a href="https://www.google.com/search?q=flowe+images&tbm=isch&ved=2ahUKEwj0tcX09JjxAhV0ObcAHa_bADEQ2-cCegQIABAA&oq=flowe+images&gs_lcp=CgNpbWcQARgAMgIIADICCAAyBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeOgQIABBDUPGOL1jFtC9g9cAvaAFwAHgCgAGOCYgByCmSAQ8wLjMuMC4yLjAuMi4yLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=izvIYLTEDvTy3LUPr7eDiAM&bih=588&biw=1330&rlz=1C1CHBF_enIN831IN831#imgrc=_V5nghHCorEorM">flower</a>

<img src="rose.jfif" alt="rose image">

# varibles 

* A varible must start with a letter or underscore
* A variable name can't start with a number
* A variable name can only contain alpha-numeric 
* A variable is case sensitive

In [1]:
a=10
print(a)

10

In [7]:
1.5="manju"
print(1.5)

SyntaxError: cannot assign to literal (<ipython-input-7-c91ce054ca9a>, line 1)

In [9]:
_="manju"
print(_)

manju

In [10]:
a12=7
print(a12)

7

In [12]:
as@=6
print(as@)

SyntaxError: invalid syntax (<ipython-input-12-0ddf980f619c>, line 1)

# Data types:
* integer
* float
* string

In [14]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [15]:
a=12.23
print(a)
print(type(a))

12.23
<class 'float'>

In [16]:
m="manju"
print(m)
print(type(m))

manju
<class 'str'>

In [21]:
# typecasting
a=10
print(a)
print(type(a))
print(float(a))
print(type(float(a)))
print(str(a))
print(type(str(a)))

10
<class 'int'>
10.0
<class 'float'>
10
<class 'str'>

In [23]:
a="m"
print(type(a))

<class 'str'>

In [25]:
a=20
a

20

In [26]:
b=a
print(b)

20

In [28]:
d=c=b=a
print(d)
print(c)
print(b)

20
20
20

In [29]:
a,b,c,d=10,12.34,'faltoos',"killer"
print(a)
print(b)
print(c)
print(d)

10
12.34
faltoos
killer

In [32]:
f=10.23
print(int(f))
print(str(f))
print(type(str(f)))

10
10.23
<class 'str'>

In [34]:
m=input("enter a value")
print(m)
print(type(m))

enter a value10
10
<class 'str'>

In [35]:
n=int(input('enter a value'))
print(n)
print(type(n))

enter a value12
12
<class 'int'>

In [36]:
n=float(input('enter a value'))
print(n)
print(type(n))

enter a value12
12.0
<class 'float'>

In [38]:
n=(input('enter a value'))
print(n)
print(type(n))

enter a valuem
m
<class 'str'>

In [45]:
#identity operator
a=10
b=20
print(a is b)
print( a is not b)

False
True

In [46]:
#membership operator
a="manju"
print("a" in a)
print("b" in a)
print("c" in a)

True
False
False

In [49]:
a=int(input())
b=int(input())
print("Add of a and b is:",a+b)
print("add of %d and %d is : %d"%(a,b,a+b))
print("add of {} and {} is :{}".format(a,b,a+b))
print("add of {2} and{1} is :{0}".format(a,b,a+b))

10
20
Add of a and b is: 30
add of 10 and 20 is : 30
add of 10 and 20 is :30
add of 30 and20 is :10

# check the username and password then print login success by using if conditions

In [51]:
username="manju@1234"
password=90879
user=input("enter user name")
pwd=int(input("enter password"))
if username==user:
    if password==pwd:
        print("login success")
else:
    print("login failed")

enter user namemanju@1234
enter password90879
login success